<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>News</key>
	<array>
		<dict>
			<key>sid</key>
			<string>10001</string>
			<key>title</key>
			<string>界面新闻</string>
			<key>url</key>
			<string>https://a.jiemian.com/index.php?m=article&amp;a=rss</string>
			<key>desc</key>
			<string></string>
		</dict>
        <dict>
            <key>sid</key>
            <string>10002</string>
            <key>title</key>
            <string>虎嗅</string>
            <key>url</key>
            <string>https://www.huxiu.com/rss/0.xml</string>
            <key>desc</key>
            <string></string>
        </dict>
        <dict>
            <key>sid</key>
            <string>10001</string>
            <key>title</key>
            <string>tech</string>
            <key>url</key>
            <string>http://www.techweb.com.cn/rss</string>
            <key>desc</key>
            <string></string>
        </dict>
	</array>
	<key>Media</key>
	<array>
        <dict>
            <key>sid</key>
            <string>20001</string>
            <key>title</key>
            <string>创业邦</string>
            <key>url</key>
            <string>http://www.cyzone.cn/rss/</string>
            <key>desc</key>
            <string></string>
        </dict>
    </array>
	<key>knowledge</key>
	<array>
        <dict>
            <key>sid</key>
            <string>30001</string>
            <key>title</key>
            <string>知乎每日精选</string>
            <key>url</key>
            <string>https://www.zhihu.com/rss</string>
            <key>desc</key>
            <string>中文互联网最大的知识平台，帮助人们便捷地分享彼此的知识、经验和见解。</string>
        </dict>
    </array>
	<key>Readers</key>
	<array>
        <dict>
            <key>sid</key>
            <string>40001</string>
            <key>title</key>
            <string>路透: 国际财经</string>
            <key>url</key>
            <string>http://cn.reuters.com/rssFeed/CNIntlBizNews/</string>
            <key>desc</key>
            <string></string>
        </dict>
    </array>
	<key>ITNews</key>
	<array>
        <dict>
            <key>sid</key>
            <string>50001</string>
            <key>title</key>
            <string>好奇心日报</string>
            <key>url</key>
            <string>http://www.qdaily.com/feed.xml</string>
            <key>desc</key>
            <string></string>
        </dict>
        <dict>
            <key>sid</key>
            <string>50002</string>
            <key>title</key>
            <string>数字尾巴</string>
            <key>url</key>
            <string>http://www.dgtle.com/rss/dgtle.xml</string>
            <key>desc</key>
            <string></string>
        </dict>
        <dict>
            <key>sid</key>
            <string>50003</string>
            <key>title</key>
            <string>36KR</string>
            <key>url</key>
            <string>https://www.36kr.com/feed/</string>
            <key>desc</key>
            <string></string>
        </dict>
    </array>
	<key>Games</key>
	<array>
        <dict>
            <key>sid</key>
            <string>60001</string>
            <key>title</key>
            <string>经济学人</string>
            <key>url</key>
            <string>https://www.economist.com/sections/china/rss.xml</string>
            <key>desc</key>
            <string></string>
        </dict>
    </array>
</dict>
</plist>
